<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <style>
            @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
            * { font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important; }
            a {color: black; text-decoration: none; font-style: italic; font-weight: bold; font-size: 1em;}
            h3 {margin-bottom: 0.1em; font-size: 1.3em;}
            ul {margin: 0;}
            table {margin-left: 2em;}
            li {font-size: 1em;}
            td {font-size: 1em;}
        </style>
    </head>
    <body>
        <a style="font-style: normal; font-size: 2.2em;" href="/">Hyunc Archieve Storage</a>
        <hr>
        <h3>About</h3>
        <table>
            <tr>
                <td>서버 프레임워크</td>
                <td>NodeJS v15.7.0</td>
            </tr>
            <tr>
                <td>서버 OS</td>
                <td>Windows 10, WSL2 기반 Docker 사용</td>
            </tr>
            <tr>
                <td>Docker 버전</td>
                <td>Docker version 20.10.5, build 55c4c88</td>
            </tr>
            <tr>
                <td>서버 플랫폼</td>
                <td>node:12</td>
            </tr>
            <tr>
                <td>서버 버전</td>
                <td>Jisu v2.5.3</td>
            </tr>
            <tr>
                <td>서버 DNS</td>
                <td><a href="https://내도메인.한국">내도메인.한국</a></td>
            </tr>
            <tr>
                <td>서버 인증서 제공</td>
                <td><a href="https://www.sslforfree.com/">SSL For Free</a></td>
            </tr>
        </table>
        <hr>
        <h3>Credits</h3>
        <ul>
            <li>
                현창운(Miho)
                <ul>
                    <li>계획</li>
                    <li>디자인</li>
                    <li>서버 개발</li>
                    <li>서버 구성</li>
                    <li>보안 확인</li>
                    <li>배포</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h3>Links</h3>
        <ul>
            <li><a href="https://github.com/miho73/Jisu">오픈소스 레포지토리</a></li>
        </ul>
    </body>
</html>
