<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>TCA</title>
        <link rel="stylesheet" type="text/css" href="./tca/tca.css">
    </head>
    <body onload="timeTicker()">
        <h1 class="display sharp" id="time">LOADING</h1>
        <hr>
        <h3 id="timetable" class="regular">Loading</h3>
        <hr>
        <h1 id="subject" class="display sharp">Loading</h1>
        <h2 id="timepm" class="display sharp">Loading</h2>
        <hr>
        <div id="btnContainer" class="addrContainer">
            <button id="current" class="addrBtn" style="margin-right: 4em;" onclick="copyCurrent()"></button>
            <button id="next" class="addrBtn" onclick="copyNext()"></button>
        </div>
        <hr>
        <div class="addrContainer">
            <button class="addrBtn toolBtn" onclick="attendance()" style="margin-right: 1em;">출석 댓글 복사</button>
            <button class="addrBtn toolBtn" onclick="jojong()">조종례 Zoom</button>
        </div>
        <hr>
        <div class="footer">
            <div class="copyright">
                <p>본 사이트의 서버 및 클라이언트 코드는 <a href="https://github.com/miho73/Jisu/blob/master/LICENSE">MIT License</a>에 의해 자유로운 사용이 허용됩니다.</p>
                <p>보다 자세한 내용은 <a href="/about">About페이지</a>, 또는 <a href="https://github.com/miho73/Jisu">오픈소스 레포지토리</a>를 방문해주세요.</p>
                <p>이 사이트를 청량중학교 2학년 7반 학생 외 다른 이들에게 공유하지 마세요.</p>
                <p>이러한 행위는 교권침해로 이어질 수 있으며, 이는 초중등교육법에 저촉됩니다.</p>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./tca/tca.js"></script>
</html>