<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>TCA</title>
        <link rel="stylesheet" type="text/css" href="./tca/tca.css">
        <script type="text/javascript" src="./tca/tca.js"></script>
        <script type="text/javascript" src="jquery.js"></script>
    </head>
    <body onload="timeTicker()">
        <h1 class="display sharp" id="time">LOADING</h1>
        <hr>
        <h3 id="timetable" class="regular">Loading</h3>
        <hr>
        <h1 id="subject" class="display sharp">Loading</h1>
        <h2 id="timepm" class="display sharp">Loading</h2>
        <hr></hr>
    </body>
</html>