<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>TCA</title>
        <link rel="stylesheet" type="text/css" href="./tca/tca.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z67T2VD9E4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-Z67T2VD9E4');
        </script>
    </head>
    <body onload="timeTicker()">
        <h1 class="display sharp" id="time">LOADING</h1>
        <hr>
        <h3 id="timetable" class="regular">Loading</h3>
        <hr>
        <h1 id="subject" class="display sharp">Loading</h1>
        <h2 id="timepm" class="display sharp">Loading</h2>
        <hr>
        <div id="btnContainer" class="addrContainer">
            <button id="current" class="addrBtn" style="margin-right: 1em;" onclick="copyCurrent()"></button>
            <button id="next" class="addrBtn" style="margin-left: 0;" onclick="copyNext()"></button>
        </div>
        <hr>
        <div class="addrContainer">
            <button class="addrBtn toolBtn" onclick="attendance()" style="margin-right: 1em;">출석 댓글 복사</button>
            <button class="addrBtn toolBtn" onclick="jojong()">조종례 Zoom</button>
        </div>
        <hr>
        <div class="footer">
            <div class="btnSet">
                <button class="addrBtn footerBtn toolBtn" onclick="changeName()">출석체크 이름 변경</button>
            </div>
            <div class="copyright">
                <p>이 웹사이트의 코드는 <a href="https://github.com/miho73/Jisu/blob/master/LICENSE" target="_blank">MIT LICENSE</a> 하에 자유사용이 허용됩니다.
                자세한 내용은 <a href="/about">About 페이지</a>, <a href="https://github.com/miho73/Jisu" target="_blank">오픈소스 레포지토리</a>를 방문하세요.</p>
                <p><a href="/tca">TCA</a> 프로젝트는 <a href="/auth">Jisu</a> 프로젝트의 일부입니다. 개발참여: 현창운(Miho73)</p>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./tca/tca.js"></script>
</html>