@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

*.center {
    text-align: center;
}

*.fontsmall {
    font-size: 1.3em;
}

input.number_input {
    width: 7%;
}

button.submit {
    background-color: transparent;
    border-width: 0;
    border-style: none;
}

h1#random_display {
    font-size: 10em;
    user-select: none;
}