@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important; }

p {user-select: none !important;}
a {user-select: none !important;}
h2 {user-select: none !important;}
h3 {user-select: none !important;}
b {user-select: none !important;}

.u-section-1 {
  background-image: url("images/can3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  line-height: 39.6px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 240px 635px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 635px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 435px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 504px;
}

.u-section-2 .u-text-1 {
  width: 498px;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 56px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 115px 1043px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 843px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-2 {
    margin-right: 623px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-2 {
    margin-right: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 243px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 294px;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 609px;
}

.u-section-5 .u-text-1 {
  width: 800px;
  margin: 60px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 800px;
  margin: 31px auto 60px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
}