<!DOCTYPE html>

<html>
    <head>
        <title>Diary</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/diary/diary.css">
    </head>
    <body style="background-image: url(/diary/<%= random_img%>);">
        <div>
            <h1 class="hi" style="margin-top: 46vh; font-size: 50px; margin-bottom: 0px;">저장되었습니다.</h1>
            <h3 style="text-align: center;">
                <a href="/" style="text-decoration: none;">Go to home</a>
            </h3>
        </div>
    </body>
</html>